div div div
{
	hight:100px;
	width:75%;
	background-color:white;
	border-style: solid;
    border-color: gry;
    border-style: 2px;
    display:block;
   padding-bottom: 500;
    padding-top: 20;
    padding-left:500;

}
div div div img div{

	height:250;
	width:250;

	 
}
div div div div {
	hight:100px;
	width:75%;
	background-color:black;
	border-style: solid;
    border-color: #0000ff;
    display:inline-block;
}
div div div div div {
    height: 100px;
    width: 500px;
    background-color: powderblue;
    display:block;
}